@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="background-color: #A52A2A; color: black; height: 20px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 200px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Sorry, an error occurred while processing your request.
        </h4>
        <h5>
            -Please make sure the url you provided is a vaild url.
        </h5>
        <h6>@Html.ActionLink("Go To WebUrl Page", "WebUrl", "Home")</h6>
        <h6>@Html.ActionLink("Go Back To Multiplication Table", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
