@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #A52A2A; color: black; height: 20px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 200px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Sorry, The page you're looking for could not be found.
        </h4>
        <h5>
            -Please make sure you entered a valid url in the Web Url Entry page.
        </h5>
        <h5>
            -If you didn't enter a url, please enter one in the Web Url Entry page first.
        </h5>
        <h6>@Html.ActionLink("Go To Web Url Entry page", "WebUrl", "Home")</h6>
        <h6>@Html.ActionLink("Go Back To Multiplication Table", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
